#maindiv1 {
    position: relative;
    float: left;
    width: 200px;
    height: 100%;
    background-color: #fffeee
}

#maindiv2 {
    position: relative;
    height: 100%;
    width: 200px;
    float: left;
    background-color: #eefccc
}

#maindiv3 {
    position: relative;
    height: 100%;
    width: auto;
    overflow-y: scroll;
    background: #eeffee;
}

#maindiv4 {
    position: relative;
    height: 10%;
    width: auto;
}

.bt1 {
    padding: 10px 50px;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 50px;
    display: inline-block;
    background-color: #eee;
    font-family: "幼圆";
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.bt1:hover {
    color: #4669c9;
    font-weight: 1000;
}

.bt2 {
    position: relative;
    padding: 7px 30px;
    float: right;
    display: inline-block;
    font-size: 15px;
    margin-right: 2%;
    margin-top: 2%;
    background-color: #eee;
    color: #000000;
    text-shadow: 1px 1px 2px #ffffff;
    border-radius: 5px;
    font-family: "幼圆";
    font-weight: 900;
    box-shadow: 2px 2px 5px #4c98f5;
    text-align: center;
    cursor: pointer;
}

.bt2:hover {
    color: #ec1505;
}

#ctn {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    background-color: #cee0de;
    overflow-y: hidden;
}

#dl {
    display: none;
    position: absolute;
    top: 10%;
    right: 6.5%;
    width: 200;
    height: 150;
    padding: 20px;
    border: 4px solid orange;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

.tmp {
    position: relative;
    margin-left: 30px;
    margin-top: 50px;
    display: inline-block;
    padding: 0.8em 3.1em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: white;
}

.tmp::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border-radius: 4px;
    transition: box-shadow .5s ease, transform .2s ease;
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
}

.tmp:hover::before {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}

.tmp::after {
    position: relative;
    display: inline-block;
    content: attr(data-title);
    transition: transform .2s ease;
    font-weight: bold;
    letter-spacing: .01em;
    will-change: transform;
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
}

.bt {
    margin-top: 10%;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%);
    /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: "幼圆";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    font-size: 18px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .2);
    cursor: pointer;
    /* Just for presentation */
    display: none;
    margin: 0 auto;
    margin-bottom: 20px;
}

.bt:active {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .2);
    top: 1px;
}

.bt:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-left: 16px solid transparent;
    border-right: 20px solid #187dbc;
    position: absolute;
    opacity: 0.6;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
}


/* Button pointing left */

.bt.back {
    text-align: right;
    padding-right: 12px;
    box-sizing: border-box;
}

.bt.back:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-right: 16px solid transparent;
    border-left: 20px solid #187dbc;
    position: absolute;
    opacity: 0.6;
    left: 0;
    top: 0;
    border-radius: 5px 0 0 5px;
}


/* Single buttons */

.bt.site {
    width: 40px;
    text-align: center;
    text-indent: 0;
}

.bt.site:after {
    display: none;
}