<!--The content below is only a placeholder and can be replaced.-->

<div id="ctn">
    <div id="maindiv1">
        <br><br><br>
        <h1>
            &nbsp;&nbsp;&nbsp;
            <font face="幼圆">考勤系统</font>
        </h1>
        <br><br>
        <a data-title="打卡" class="tmp" (click)="daka_click()" id="daka" routerLink="/daka" routerLinkActive="active"> </a>
        <br>
        <a data-title="请假" class="tmp" id="qingjia" (click)="qingjia_click()" routerLink="/qingjia" routerLinkActive="active"> </a>
        <br>
        <a data-title="外出" class="tmp" id="waichu" (click)="waichu_click()" routerLink="/waichu" routerLinkActive="active"></a>
        <br>
        <a data-title="审批" class="tmp" id="shenpi" (click)="shenpi_click()" routerLink="/shenpi" routerLinkActive="active"></a>

    </div>

    <div id="maindiv2">
        <div style="float:left;position: relative;height:100%;margin-top:70%;width:200px;">
            <button class="bt" id="a1">外出申请</button>

            <button class="bt" id="a2">外出记录</button>

            <button class="bt" id="a3">外出审批</button>

            <button class="bt" id="b1">打</button>

            <button class="bt" id="b2">打卡记录</button>

            <button class="bt" id="c1">请假申请</button>

            <button class="bt" id="c2">请假记录</button>

            <button class="bt" id="c3">请假审批</button>
        </div>
    </div>



    <div id="maindiv4">

        <div class="bt2" id="denglu" routerLink="/login" routerLinkActive="active">
            登录
        </div>
        <div class="bt2" id="zhuce" onclick="alert('抱歉，无法注册')">
            注册
        </div>
        <div class="bt2" id="zhongxin" routerLink="/profile" routerLinkActive="active" style="display:none">
            个人中心
        </div>
        <div class="bt2" id="zhuxiao" (click)="logout_click()" style="display:none">
            注销
        </div>

    </div>


    <div id="dl">

        用户名: <input type="text" id="user" /> <br><br> 密码: &nbsp; &nbsp;&nbsp;<input type="password" id="pw" />
        <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" id="submit" value="确认" (click)="submit_click()" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" id="cancel" value="取消" (click)="cancel_click()" />

        <input id="hdid" type="text" style="display:none" />
        <input id="level" type="text" style="display:none" />
    </div>



    <div id="maindiv3">
        <router-outlet></router-outlet>
    </div>
</div>
