<font style="font-size:200px;font-weight:900;text-align:center;font-family:华文行楷;color: crimson;margin-left: 10%;margin-top: 600px">
    李罡牛逼</font>

<ul class="users">
  <li *ngFor="let user of users">
    人员编号： {{user.sid}}<br>
    姓名   ： {{user.sname}} <br>
    你的工作： {{user.job}}<br>
    权限等级： {{user.level}}<br>
  </li>
</ul>
<br><br><br><br><br><br><br>
