<p>点击按钮打卡</p>
<button style="display:block;margin:0 auto" (click)="addDaka()">点击打卡!</button>

<p>打卡记录</p>
<ul class="dakas">
  <li *ngFor="let daka of dakas">
    记录编号：{{daka.cid}}<br>
    打卡人编号：{{daka.sid}}<br>
    打卡时间：{{daka.cTime}}<br>
    <br>
  </li>
</ul>
