p {
    color: #130801;
    text-align: center;
    font-size: 25px;
}

button {
    font-family: "Times New Roman";
    font-size: 15px;
    color: #000271;
    padding: 10px 50px;
    text-decoration: none;
    margin-right: 50px;
    margin-top: 50px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}