<div id="dl">

    用户名: <input type="text" id="userid" /> <br><br>
    密码: &nbsp; &nbsp;&nbsp;<input type="password" id="password" />
    <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" id="submit" value="确认" (click)="submit_click()" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" id="cancel" value="取消" (click)="cancel_click()" />

</div>
