<div id="container">
<h2>请假</h2>
<h4>申请请假</h4>
<p>请假类型:</p>
<input type="text" name="types" id="typeid" #type>
<p>请假开始时间:</p>
<input type="text" name="stimes" id="stimeid" #st>
<p>请假结束时间:</p>
<input type="text" name="etimes" id="etimeid" #et>
<p>请假缘由:</p>
<input type="text" name="reason" id="reasonid" #reason>
  <br>
<input type="submit" value="提交" (click)="addQingjia(type.value, st.value, et.value, reason.value)">

<p>请如实填写你的信息，以便审阅者能审阅通过。</p>

<br><h4>请假记录:</h4>

<input type="text" name="search" id="search">
<br>
<input type="submit" value="查询" onclick="">
  <div style="display: none" id="renew">
    <h4>请修改你的请假：</h4>
    <p>请假编号：{{rId}}</p>
    <p>请假类型：</p>
    <input id="r-types" #rtype>
    <p>请假开始时间：</p>
    <input id="r-st" #rst>
    <p>请假结束时间：</p>
    <input id="r-et" #ret>
    <p>请假缘由：</p>
    <input id="r-reason" #rreason>
    <button (click)="rAddQingjia(rtype.value, rst.value, ret.value, rreason.value)">提交修改</button>
  </div>
  <ul class="qingjias">
    <li *ngFor="let qingjia of qingjias">
      <button (click)="updateQingjia(qingjia.lid)">更改</button>
      <button (click)="deleteQingjia(qingjia.lid)">删除</button>
      请假编号： {{qingjia.lid}}<br>
      人员编号： {{qingjia.sid}}<br>
      请假类型： {{qingjia.ltype}} <br>
      开始时间： {{qingjia.startTime}}<br>
      结束时间： {{qingjia.endTime}}<br>
      请假理由： {{qingjia.reason}}<br>
      请假状态： {{qingjia.state}}<br>
    </li>
  </ul>
  <br><br><br><br><br><br><br>
</div>

