p {
    color: #130801;
    text-align: left;
    font-size: 20px;
}

input {
    font-family: "Times New Roman";
    font-size: 15px;
    color: #000271;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

div#waichushenqing {
  padding-left: 40px;
}
