<div style="" id="waichushenqing">
  <h2>外出</h2>
  <h4>申请外出</h4>
  <p>外出开始时间:</p>

  <input type="text" name="stimes" id="stimesid" #st>

  <p>外出结束时间:</p>

  <input type="text" name="etimes" id="etimesid" #et>

  <p>外出缘由:</p>

  <input type="text" name="reason" id="reasonsid" #reason>

  <br>
  <input type="submit" value="提交" (click)="addWaichu(st.value, et.value, reason.value)">

  <p>请如实填写你的信息，以便审阅者能审阅通过。</p>

  <h4>外出记录</h4>
  <input type="text" name="search" id="search">
  <br>
  <input type="submit" value="查询" onclick="">
  <div style="display: none" id="renew">
    <h4>请修改你的外出：</h4>
    <p>外出编号：{{rId}}</p>
    <p>外出开始时间：</p>
    <input id="r-st" #rst>
    <p>外出结束时间：</p>
    <input id="r-et" #ret>
    <p>外出缘由：</p>
    <input id="r-reason" #rreason>
    <button (click)="rAddWaichu(rst.value, ret.value, rreason.value)">提交修改</button>
  </div>

  <ul class="waichus">
    <li *ngFor="let waichu of waichus">
      <button (click)="updatewaichu(waichu.oid)">更改</button>
      <button (click)="deletewaichu(waichu.oid)">删除</button>
      外出编号： {{waichu.oid}}<br>
      人员编号： {{waichu.sid}}<br>
      开始时间： {{waichu.startTime}}<br>
      结束时间： {{waichu.endTime}}<br>
      外出理由： {{waichu.reason}}<br>
      外出状态： {{waichu.state}}<br>
    </li>
  </ul>
  <br><br><br><br><br><br><br>
</div>

