<div id="container">
  <h2>审批</h2>
  <h4>审批申请:</h4>

  <br>
  <input type="text" name="search" id="search">
  <br>
  <input type="submit" value="查询" onclick="">
</div>
<div style="display: none;" id="Wshenpi">
  <button (click)="agree()">同意</button>
  &nbsp;<button (click)="disagree()">不同意</button>
  <p>{{agree}}</p>
  <p>意见：</p>
  <input id="Wsuggest" #suggest>
  <button (click)="Wsubmit(suggest.value)">完成</button>
</div>

<div style="display: none;" id="Qshenpi">
  <button (click)="agree()">同意</button>
  &nbsp;<button (click)="disagree()">不同意</button>
  <p>{{agree}}</p>
  <p>意见：</p>
  <input id="Qsuggest" #suggest>
  <button (click)="Qsubmit(suggest.value)">完成</button>
</div>
<ul class="waichus">
  <li *ngFor="let waichu of waichus">
    <button (click)="updateWaichu(waichu.oid)">审批</button>
    开始时间： {{waichu.startTime}}<br>
    结束时间： {{waichu.endTime}}<br>
    请假理由： {{waichu.reason}}<br>
    请假状态： {{waichu.state}}<br>
    请假编号： {{waichu.lid}}<br>
    人员编号： {{waichu.sid}}<br>
    请假类型： {{waichu.ltype}}<br>
  </li>
</ul>
<ul class="qingjias">
  <li *ngFor="let qingjia of qingjias">
    <button (click)="updateQingjia(qingjia.lid)">审批</button>
    开始时间： {{qingjia.startTime}}<br>
    结束时间： {{qingjia.endTime}}<br>
    请假理由： {{qingjia.reason}}<br>
    请假状态： {{qingjia.state}}<br>
    请假编号： {{qingjia.lid}}<br>
    人员编号： {{qingjia.sid}}<br>
    请假类型： {{qingjia.ltype}}<br>
  </li>
</ul>
<br><br><br><br><br><br><br>
